.container {
    text-align: center;
    width: 100%;
}

.title {
    text-transform: uppercase;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 300px;
    margin: 50px auto;
    height: 300px;
    background-color: #0e222c;
    place-items: center;
    border-radius: 26px;
}

.board>div {
    background-color: #0f1b21;
    width: 80px;
    height: 80px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.board>div>img {
    width: 70%;
    height: 70%;

}

.able {
    cursor: pointer;
}

.able:hover {
    box-shadow: rgba(56, 239, 5, 0.45) 0px 5px 15px;
}